*/.svn/*
**/.svn/*
**/bin/*
/.svn/
target/
CMakeFiles/
.DS_Store
.classpath
.project
.settings/
*.iml
.class
*.class
*.ipr
*.iws
keystore
/.idea/
org.kevoree.modeling.idea/out
**.idea
**/node_modules/**
**/*.jar
/release.properties
build/
CMakeCache.txt
cmake_install.cmake
