package ${context.metaModelPackage};

public class ${context.metaModelName}Dimension extends org.kevoree.modeling.api.abs.AbstractKDimension<${context.metaModelName}View, ${context.metaModelName}Dimension, ${context.metaModelName}Universe> {

    protected ${context.metaModelName}Dimension(org.kevoree.modeling.api.KUniverse universe, long key) {
        super(universe, key);
    }

    @Override
    protected ${context.metaModelName}View internal_create(Long timePoint) {
        return new ${context.metaModelPackage}.impl.${context.metaModelName}ViewImpl(timePoint,(org.kevoree.modeling.api.abs.AbstractKDimension)this);
    }

}

#* @vtlvariable name="context" type="org.kevoree.modeling.generator.GenerationContext" *#