#set($classDeclaration = $context.classDeclaration)
public enum METAATTRIBUTES implements org.kevoree.modeling.api.meta.MetaAttribute {
#if($classDeclaration.attributes.size() == 0)
;//Nothing in this ENUM
#{else}
#set($attIdx = 0)
#set($attIdxMax = $classDeclaration.attributes.size() - 1)
#foreach($attribute in $classDeclaration.attributes)
    ${attribute.getName().toUpperCase()}("$attribute.getName()",$enumIdx, 0, #if($attribute.id)true#{else}false#end,org.kevoree.modeling.api.meta.MetaType.$attribute.type.toUpperCase(), org.kevoree.modeling.api.strategy.ExtrapolationStrategies.DISCRETE.strategy())#if($attIdx < $attIdxMax),
#{else};
#end
#set($enumIdx = $enumIdx + 1)
#set($attIdx = $attIdx + 1)
#end
#end


    private String _name;

    private int _index;

    private double _precision;

    private boolean _key;

    private org.kevoree.modeling.api.meta.MetaType _metaType;

    private org.kevoree.modeling.api.strategy.ExtrapolationStrategy _extrapolationStrategy;

    public int index() {
        return _index;
    }

    public String metaName() {
        return _name;
    }

    public double precision() {
        return _precision;
    }

    public boolean key() {
        return _key;
    }

    public org.kevoree.modeling.api.meta.MetaType metaType() {
        return _metaType;
    }

    public org.kevoree.modeling.api.meta.MetaClass origin(){
        return ${context.generationContext.metaModelPackage}.${context.generationContext.metaModelName}View.METACLASSES.${classDeclaration.fqn.toUpperCase().replace(".","_")};
    }

    public org.kevoree.modeling.api.strategy.ExtrapolationStrategy strategy() {
        return _extrapolationStrategy;
    }

    public void setExtrapolationStrategy(org.kevoree.modeling.api.strategy.ExtrapolationStrategy extrapolationStrategy) {
        this._extrapolationStrategy = extrapolationStrategy;
    }

    METAATTRIBUTES(String name, int index, double precision, boolean key, org.kevoree.modeling.api.meta.MetaType metaType, org.kevoree.modeling.api.strategy.ExtrapolationStrategy extrapolationStrategy) {
        this._name = name;
        this._index = index;
        this._precision = precision;
        this._key = key;
        this._metaType = metaType;
        this._extrapolationStrategy = extrapolationStrategy;
    }
}


#* @vtlvariable name="context" type="org.kevoree.modeling.generator.ClassGenerationContext" *#
#* @vtlvariable name="classDeclaration" type="org.kevoree.modeling.ast.MModelClass" *#