package $context.metaModelPackage;

public class ${context.metaModelName}Universe extends org.kevoree.modeling.api.abs.AbstractKUniverse<${context.metaModelName}Dimension> {

    private org.kevoree.modeling.api.meta.MetaModel _metaModel;

    public ${context.metaModelName}Universe() {
        super();
        _metaModel = new org.kevoree.modeling.api.abs.AbstractMetaModel("${context.metaModelName}", -1);
        org.kevoree.modeling.api.meta.MetaClass[] tempMetaClasses = new org.kevoree.modeling.api.meta.MetaClass[${context.model.classifiers.size()}];
        #foreach($class in $context.model.classifiers)
            tempMetaClasses[${class.index}] = ${class.pack}.meta.Meta${class.name}.getInstance();
        #end
        ((org.kevoree.modeling.api.abs.AbstractMetaModel) _metaModel).init(tempMetaClasses);
    }

    @Override
    protected ${context.metaModelName}Dimension internal_create(long key) {
        return new ${context.metaModelName}Dimension(this,key);
    }

    @Override
    public org.kevoree.modeling.api.meta.MetaModel metaModel() {
        return _metaModel;
    }
}
    
#* @vtlvariable name="context" type="org.kevoree.modeling.generator.GenerationContext" *#