package $context.metaModelPackage;

public interface ${context.metaModelName}View extends org.kevoree.modeling.api.KView {

#foreach($class in $context.model.getClasses())
#set($lastIdx = $class.fqn.lastIndexOf(".")+1)
    public $class.fqn create$class.fqn.substring($lastIdx)();
#end

    @Override
    public ${context.metaModelPackage}.${context.metaModelName}Dimension dimension();

}

#* @vtlvariable name="context" type="org.kevoree.modeling.generator.GenerationContext" *#