package $context.metaModelPackage;

public interface ${context.metaModelName}View extends org.kevoree.modeling.api.KView {

    public enum METACLASSES implements org.kevoree.modeling.api.meta.MetaClass {

#set($classIdx = 0)
#set($classIdxMax = $context.model.classifiers.size() - 1)
#foreach($class in $context.model.classifiers)
        ${class.fqn.toUpperCase().replace(".","_")}("$class.fqn",$classIdx)#if($classIdx < $classIdxMax),
#{else};
#end
#set($classIdx = $classIdx + 1)
#end

        private String _name;

        private int _index;

        public int index() {
            return _index;
        }

        public String metaName() {
            return _name;
        }

        METACLASSES(String name, int index) {
            this._name = name;
            this._index = index;
        }

    }

#foreach($class in $context.model.classifiers)
#set($lastIdx = $class.fqn.lastIndexOf(".")+1)
    public $class.fqn create$class.fqn.substring($lastIdx)();
#end

}


#* @vtlvariable name="context" type="org.kevoree.modeling.generator.GenerationContext" *#