package ${context.metaModelPackage}.impl;

public class ${context.metaModelName}ViewImpl extends org.kevoree.modeling.api.abs.AbstractKView implements ${context.metaModelPackage}.${context.metaModelName}View {

    public ${context.metaModelName}ViewImpl(long p_now, org.kevoree.modeling.api.KUniverse p_universe) {
        super(p_now, p_universe);
    }

    @Override
    protected org.kevoree.modeling.api.KObject internalCreate(org.kevoree.modeling.api.meta.MetaClass p_clazz, org.kevoree.modeling.api.rbtree.LongRBTree p_universeTree, long p_key) {
        if (p_clazz == null) {
            return null;
        }
        switch (p_clazz.index()) {
#foreach($class in $context.model.getClasses())
    #set($lastIdx = $class.fqn.lastIndexOf(".")+1)
            case ${class.index} : return new ${class.fqn.substring(0,$class.fqn.lastIndexOf("."))}.impl.${class.fqn.substring($lastIdx)}Impl(this, p_key, p_universeTree, p_clazz);
#end
            default : return new org.kevoree.modeling.api.reflexive.DynamicKObject(this, p_key, p_universeTree, p_clazz);
        }
    }

#foreach($class in $context.model.getClasses())
#set($lastIdx = $class.fqn.lastIndexOf(".")+1)
    @Override
    public $class.fqn create$class.fqn.substring($lastIdx)() {
        return ($class.fqn) this.create(${class.pack}.meta.Meta${class.name}.getInstance());
    }
#end

    @Override
    public ${context.metaModelPackage}.${context.metaModelName}Universe universe() {
        return (${context.metaModelPackage}.${context.metaModelName}Universe) super.universe();
    }

}

#* @vtlvariable name="context" type="org.kevoree.modeling.generator.GenerationContext" *#