#* @vtlvariable name="ctx" type="org.kevoree.modeling.kotlin.generator.GenerationContext" *#
#* @vtlvariable name="helper" type="org.kevoree.modeling.kotlin.generator.ProcessorHelperClass" *#

#set($packName = ${helper.fqn($ctx, $ctx.getBasePackageForUtilitiesGeneration())})

package ${packName}.trace

import org.kevoree.modeling.api.util.ActionType
import org.kevoree.modeling.api.trace.*

/**
 * Created by duke on 25/07/13.
 */

class DefaultTraceSequence() : org.kevoree.modeling.api.trace.TraceSequence {
override var traces : MutableList<org.kevoree.modeling.api.trace.ModelTrace> = java.util.ArrayList<org.kevoree.modeling.api.trace.ModelTrace>()
override var factory : org.kevoree.modeling.api.KMFFactory? = ${helper.fqn($ctx,$ctx.getBasePackageForUtilitiesGeneration())}.factory.MainFactory()
}