#* @vtlvariable name="ctx" type="org.kevoree.modeling.kotlin.generator.GenerationContext" *#
#* @vtlvariable name="helper" type="org.kevoree.modeling.kotlin.generator.ProcessorHelper" *#
package ${ctx.basePackageForUtilitiesGeneration}.container

class RemoveFromContainerCommand(val target : org.kevoree.modeling.api.KObject, val mutatorType : org.kevoree.modeling.api.util.ActionType, val refName : String, val element : Any?) {
    fun run() {

#if($ctx.persistence)
        var casted = target as KObjectPersistenceImpl#if($ctx.timeAware)<*>#end

        if(!casted.inResolution){
            if(element!= null) {
                (element as KObjectPersistenceImpl#if($ctx.timeAware)<*>#end).originFactory!!.elementsToBeRemoved.add((element as KObjectImpl).path())
            }
            if(!target.isDeleted()){
                target.reflexiveMutator(mutatorType,refName, element,true,true)
            }
        }
    #else
        if(!target.isDeleted()){
            target.reflexiveMutator(mutatorType,refName, element,true,true)
        }
#end

    }
}