#* @vtlvariable name="ctx" type="org.kevoree.modeling.kotlin.generator.GenerationContext" *#
#* @vtlvariable name="FQNHelper" type="org.kevoree.modeling.kotlin.generator.ProcessorHelper" *#

package ${FQNHelper.fqn($ctx, ${ctx.getBasePackageForUtilitiesGeneration()})}.events;

public class ModelEvent(val sourcePath : String?, val etype : Int , val elementAttributeType : Int, val elementAttributeName: String, val value : Any?) {

public fun getSourcePath() : String? {
return sourcePath;
}

public fun getType() : Int {
    return etype;
}

public fun getElementAttributeType() : Int {
    return elementAttributeType;
}

public fun getElementAttributeName() : String {
    return elementAttributeName;
}

public fun getValue() : Any? {
return value;
}

public fun toString() : String {
return "ModelEvent[src:" + getSourcePath()+ ", type:" + getType()+ ", elementAttributeType:" + getElementAttributeType()+ ", elementAttributeName:" + getElementAttributeName()+ ", value:" + getValue()+ "]";
}

}
