#* @vtlvariable name="ctx" type="org.kevoree.modeling.kotlin.generator.GenerationContext" *#
#* @vtlvariable name="FQNHelper" type="org.kevoree.modeling.kotlin.generator.ProcessorHelper" *#

package ${FQNHelper.fqn($ctx, ${ctx.getBasePackageForUtilitiesGeneration()})}.events;

public class ModelEvent {

private String sourcePath;
private int type;
private int elementAttributeType;
private Object value;
private String elementAttributeName;

public ModelEvent(String sourcePath, int type, int elementAttributeType, String elementAttributeName, Object value) {
this.sourcePath = sourcePath;
this.type = type;
this.elementAttributeType = elementAttributeType;
this.elementAttributeName = elementAttributeName;
this.value = value;
}

public String getSourcePath() {
return sourcePath;
}

public int getType() {
return type;
}

public int getElementAttributeType() {
return elementAttributeType;
}

public String getElementAttributeName() {
return elementAttributeName;
}

public Object getValue() {
return value;
}

public String toString() {
return "ModelEvent[src:" + getSourcePath()
+ ", type:" + getType()
+ ", elementAttributeType:" + getElementAttributeType()
+ ", elementAttributeName:" + getElementAttributeName()
+ ", value:" + getValue()
+ "]";
}
}
