#* @vtlvariable name="packElem" type="java.lang.String" *#
#* @vtlvariable name="ctx" type="org.kevoree.modeling.kotlin.generator.GenerationContext" *#

package ${packElem}.util

#set($mutableOrNot="Mutable")

public class DeepIterable(val root : ${ctx.getKevoreeContainer().get()}) : ${mutableOrNot}Iterable<${ctx.getKevoreeContainer().get()}> {

    public override fun iterator() : ${mutableOrNot}Iterator<${ctx.getKevoreeContainer().get()}> {
        return DeepIterator(root);
    }

}
