#* @vtlvariable name="ctx" type="org.kevoree.modeling.kotlin.generator.GenerationContext" *#
#* @vtlvariable name="helper" type="org.kevoree.modeling.kotlin.generator.ProcessorHelperClass" *#
package ${helper.fqn($ctx, $ctx.getBasePackageForUtilitiesGeneration())}.loader

public class JSONResolveCommand(val context : LoadingContext, val target : ${helper.fqn($ctx, $ctx.getBasePackageForUtilitiesGeneration())}.container.KMFContainer, val mutatorType : String, val refName : String, val ref : String) : ResolveCommand {
    override fun run() {
        var referencedElement = context.map.get(ref)
        var i = 0
        while(referencedElement == null && i < context.loadedRoots.size()) {
            referencedElement = (context.loadedRoots.get(i++) as? ${helper.fqn($ctx, $ctx.getBasePackageForUtilitiesGeneration())}.container.KMFContainer)?.findByPath(ref)
        }

        if(referencedElement != null) {
            target.reflexiveMutator(mutatorType,refName, referencedElement)
            return
        }

        if(ref.equals("/0/") || ref.equals("/")) {
            referencedElement = context.map.get("/0")
            if(referencedElement != null)   {
                target.reflexiveMutator(mutatorType,refName, referencedElement)
                return
            }
        }

        throw Exception("KMF Load error : reference " + ref + " not found in map when trying to "+method+" on " + target.toString())
    }
}