#* @vtlvariable name="ctx" type="org.kevoree.modeling.kotlin.generator.GenerationContext" *#
#* @vtlvariable name="helper" type="org.kevoree.modeling.kotlin.generator.ProcessorHelper" *#
package ${helper.fqn($ctx, $ctx.basePackageForUtilitiesGeneration)}.container

class RemoveFromContainerCommand(val target : org.kevoree.modeling.api.KMFContainer, val mutatorType : org.kevoree.modeling.api.util.ActionType, val refName : String, val element : Any?) {
    fun run() {

#if($ctx.persistence)
        var casted = target as KMFContainerPersistenceImpl
        if(!casted.inResolution){
            (element as KMFContainerPersistenceImpl).originFactory!!.elementsToBeRemoved.add((element as KMFContainerImpl).path())
            target.reflexiveMutator(mutatorType,refName, element,true,true)
        }
    #else
        target.reflexiveMutator(mutatorType,refName, element,true,true)
#end

    }
}