#* @vtlvariable name="currentClass" type="org.eclipse.emf.ecore.EClass" *#
#* @vtlvariable name="FQNHelper" type="org.kevoree.modeling.kotlin.generator.ProcessorHelper" *#
#* @vtlvariable name="ctx" type="org.kevoree.modeling.kotlin.generator.GenerationContext" *#


override fun deepModelEquals(similarObj : org.kevoree.modeling.api.KMFContainer?) : Boolean {
    if(!modelEquals(similarObj)){
        return false
    }
    val similarObjCasted = similarObj as ${FQNHelper.fqn($ctx, $currentClass)}
    #foreach( $sub in $currentClass.getEAllContainments())
        #if($sub.isMany())
        for(subElement in _${sub.getName()}.values()){
        #if($sub.getEReferenceType().getEIDAttribute())
            val foundedElement = similarObjCasted.find${sub.getName().substring(0, 1).toUpperCase()}${sub.getName().substring(1)}ByID(subElement.${sub.getEReferenceType().getEIDAttribute().getName()})
            if(foundedElement == null || foundedElement != subElement){ return false }
        #else
            //todo optimize with pre sort on collection
            var lookEqualsSub = false
            for(subElement2 in similarObjCasted.${sub.getName()}){
                if(subElement.deepModelEquals(subElement2)){
                    lookEqualsSub = true
                }
            }
            if(!lookEqualsSub){return false }
        #end
        }
        #end
    #end
    return true
}

override fun modelEquals(similarObj : org.kevoree.modeling.api.KMFContainer?) : Boolean {

#if($ctx.getJS())
if(similarObj == null || !(similarObj is ${FQNHelper.fqn($ctx, $currentClass)}) || !(similarObj is ${FQNHelper.fqn($ctx, $currentClass.getEPackage())}.impl.${currentClass.getName()}Impl) ){
#else
if(similarObj == null || !(similarObj is ${FQNHelper.fqn($ctx, $currentClass)})){
#end

        return false
    }
    val similarObjCasted = similarObj as ${FQNHelper.fqn($ctx, $currentClass)}
    #foreach( $att in $currentClass.eAllAttributes )
       if($FQNHelper.protectReservedWords(${att.getName()}) != similarObjCasted.$FQNHelper.protectReservedWords(${att.getName()})){
            return false
       }
    #end
    #foreach( $sub in $currentClass.getEAllContainments())
        #if($sub.isMany())
            if(${FQNHelper.protectReservedWords(${sub.getName()})}.size() != similarObjCasted.${FQNHelper.protectReservedWords(${sub.getName()})}.size()){
                return false
            }
        #else
            if(${FQNHelper.protectReservedWords(${sub.getName()})} != similarObjCasted.${FQNHelper.protectReservedWords(${sub.getName()})}){
                return false
            }
        #end
    #end
    return true
}

