#* @vtlvariable name="ctx" type="org.kevoree.modeling.kotlin.generator.GenerationContext" *#
#* @vtlvariable name="helper" type="org.kevoree.modeling.kotlin.generator.ProcessorHelperClass" *#
package ${helper.fqn($ctx, $ctx.getBasePackageForUtilitiesGeneration())}.loader

public trait ModelLoader {

    fun loadModelFromString(str: String) : List<Any>?

    #if(!$ctx.jS)
    fun loadModelFromPath(file: java.io.File) : List<Any>?
    #end

    fun loadModelFromStream(inputStream: java.io.InputStream) : List<Any>?

}