#* @vtlvariable name="ctx" type="org.kevoree.modeling.kotlin.generator.GenerationContext" *#
#* @vtlvariable name="helper" type="org.kevoree.modeling.kotlin.generator.ProcessorHelperClass" *#
#* @vtlvariable name="rootElement" type="org.eclipse.emf.ecore.EClass" *#
package ${helper.fqn($ctx, $ctx.getBasePackageForUtilitiesGeneration())}.loader

import java.io.File
import java.io.InputStream

public trait ModelLoader {

    fun loadModelFromString(str: String) : List<Any>?

    fun loadModelFromPath(file: File) : List<Any>?

    fun loadModelFromStream(inputStream: InputStream) : List<Any>?

}