#* @vtlvariable name="ctx" type="org.kevoree.modeling.kotlin.generator.GenerationContext" *#
#* @vtlvariable name="helper" type="org.kevoree.modeling.kotlin.generator.ProcessorHelperClass" *#

package ${helper.fqn($ctx, $ctx.getBasePackageForUtilitiesGeneration())}.trace

/**
 * Created by duke on 25/07/13.
 */

#if(${ctx.jS})
trait ModelTrace {
    fun toString() : String
}
#else
trait ModelTrace: java.io.Serializable { }
#end

class ModelAddTrace(val srcPath: String, val refName: String, val previousPath : String?, val typeName: String?): ModelTrace {
    override fun toString() : String {
        return "ADD { src : \"" + srcPath + "\", refname : \""+refName+"\", previousPath : \""+previousPath+"\", typename : \""+typeName+"\" }"
    }
}

class ModelAddAllTrace(val srcPath: String, val refName: String, val previousPath : List<String>?, val typeName: List<String>?): ModelTrace {
    override fun toString() : String {
        return "ADDALL { src : \"" + srcPath + "\", refname : \""+refName+"\", previousPath : \""+previousPath+"\", typename : \""+typeName+"\" }"
    }
}

class ModelRemoveTrace(val srcPath: String, val refName: String, val objPath : String): ModelTrace {
    override fun toString() : String {
        return "REMOVEALL { src : \"" + srcPath + "\", refname : \""+refName+"\", objpath : \""+objPath+"\" }"
    }
}

class ModelRemoveAllTrace(val srcPath: String, val refName: String): ModelTrace {
    override fun toString() : String {
        return "REMOVEALL { src : \"" + srcPath + "\", refname : \""+refName+"\" }"
    }
}

class ModelSetTrace(val srcPath: String, val refName: String, val objPath : String?, val content : String?): ModelTrace {
    override fun toString() : String {
        return "SET { src : \"" + srcPath + "\", refname : \""+refName+"\", objPath : \""+objPath+"\", content : \""+content+"\" }"
    }
}