

private fun escapeXml(ostream : java.io.PrintStream, chain : String?) {
    if(chain == null){return}
    var i = 0
   var max = chain.length
   while(i < max){
        var c = chain.charAt(i)
        if(c == '"') {
            ostream.print("&quot;")
        } else if(c == '&') {
            ostream.print("&amp;")
        } else if(c == '\'') {
            ostream.print("&apos;")
        } else if(c == '<') {
            ostream.print("&lt;")
        } else if(c == '>') {
            ostream.print("&gt;")
        } else {
            ostream.print(c)
        }
        i = i + 1
    }
}
