#* @vtlvariable name="ctx" type="org.kevoree.modeling.kotlin.generator.GenerationContext" *#
#* @vtlvariable name="FQNHelper" type="org.kevoree.modeling.kotlin.generator.ProcessorHelper" *#
package ${FQNHelper.fqn($ctx, ${ctx.getBasePackageForUtilitiesGeneration()})}.util;

object ActionType {

public val SET : Int = 0;
public val ADD : Int = 1;
public val REMOVE : Int = 2;
public val ADD_ALL : Int = 3;
public val REMOVE_ALL : Int = 4;
public val RENEW_INDEX : Int = 5;

}