#* @vtlvariable name="classname" type="java.lang.String" *#
#* @vtlvariable name="refname" type="java.lang.String" *#
#* @vtlvariable name="typeadd" type="java.lang.String" *#

void ${classname}::add${refname}(${typeadd} *ptr)
{
    ${typeadd}  *container = (${typeadd} *)ptr;
    if(container->internalGetKey().empty())
    {
        LOGGER_WRITE(Logger::WARNING,"The ${typeadd} cannot be added in ${classname} because the key is not defined");
    }else
    {
        if(${refname}.find(container->internalGetKey()) == ${refname}.end())
        {
            ${refname}[container->internalGetKey()]=ptr;
            ${iscontained}
        }
    }
}

