cmake_minimum_required(VERSION 2.8)
project(kmf)
set(CMAKE_CXX_FLAGS "-Ofast ${CMAKE_CXX_FLAGS}")


set(SRC_SPARSEHASH sparsehash)
set(SRC_MICROFRAMEWORK microframework/api)
set(SRC_PATH ${libraryName})

include_directories(${SRC_SPARSEHASH})
include_directories(${SRC_SPARSEHASH}/google)
include_directories(${SRC_SPARSEHASH}/sparsehash)
include_directories(${SRC_SPARSEHASH}/sparsehash/internal)

include_directories(${SRC_MICROFRAMEWORK})
include_directories(${SRC_MICROFRAMEWORK}/compare)
include_directories(${SRC_MICROFRAMEWORK}/events)
include_directories(${SRC_MICROFRAMEWORK}/json)
include_directories(${SRC_MICROFRAMEWORK}/trace)
include_directories(${SRC_MICROFRAMEWORK}/utils)
include_directories(${SRC_MICROFRAMEWORK}/container)

include_directories(${SRC_PATH}/)


file(GLOB_RECURSE microframework ${SRC_MICROFRAMEWORK}/*)
file(GLOB_RECURSE gen_model ${SRC_PATH}/*)


ADD_LIBRARY(${libraryName}  STATIC    ${microframework} ${gen_model}  )
