#* @vtlvariable name="type" type="java.lang.String" *#
#* @vtlvariable name="refname" type="java.lang.String" *#
#* @vtlvariable name="debug" type="java.lang.String" *#


for ( std::map<string,${type}*>::iterator it = ${refname}.begin();  it != ${refname}.end(); ++it)
{
${type} * current = it->second;
if(current != NULL)
{
    delete current;
}

}

${refname}.clear();
