#* @vtlvariable name="classname" type="java.lang.String" *#
#* @vtlvariable name="refname" type="java.lang.String" *#
#* @vtlvariable name="debug" type="java.lang.String" *#

void ${classname}::visit(ModelVisitor *visitor,bool recursive,bool containedReference ,bool nonContainedReference)
{
    ${debug}
      visitor->beginVisitElem(this);
    if(containedReference)
    {
        ${visitor_refs_contained}
    }
    if(nonContainedReference)
    {
        ${visitor_refs_non_contained}
    }
    visitor->endVisitElem(this);
}

