#* @vtlvariable name="packElem" type="java.lang.String" *#
#* @vtlvariable name="ctx" type="org.kevoree.modeling.kotlin.generator.GenerationContext" *#

package ${packElem}.util

public class DeepIterable(val root : ${ctx.getKevoreeContainer().get()}) : MutableIterable<${ctx.getKevoreeContainer().get()}> {

    public override fun iterator() : MutableIterator<${ctx.getKevoreeContainer().get()}> {
        return DeepIterator(root);
    }

}