#* @vtlvariable name="packageName" type="java.lang.String" *#
#* @vtlvariable name="formatedFactoryName" type="java.lang.String" *#
#* @vtlvariable name="modelVersion" type="java.lang.String" *#
#* @vtlvariable name="js" type="java.lang.Boolean" *#
#* @vtlvariable name="classes" type="java.util.List<org.eclipse.emf.ecore.EClassifier>" *#
#* @vtlvariable name="ctx" type="org.kevoree.modeling.kotlin.generator.GenerationContext" *#
#* @vtlvariable name="helper" type="org.kevoree.modeling.kotlin.generator.ProcessorHelper" *#

package ${packageName}.impl;

#foreach( $class in $classes )
import ${packageName}.${class.getName()};
#end

import ${packageName}.${formatedFactoryName};

#if(!$js)open#end class Default${formatedFactoryName} : ${formatedFactoryName} {

override fun getVersion() : String { return "${modelVersion}" }

#if($ctx.persistence)
override val elem_cache: java.util.HashMap<String, org.kevoree.modeling.api.KMFContainer> = java.util.HashMap<String, org.kevoree.modeling.api.KMFContainer>()
override val modified_elements: java.util.HashMap<String, org.kevoree.modeling.api.KMFContainer> = java.util.HashMap<String, org.kevoree.modeling.api.KMFContainer>()
override val elementsToBeRemoved : MutableSet<String> = java.util.HashSet<String>()
#end

#foreach( $class in $classes )
override fun create${class.getName()}() : ${class.getName()} {
val tempElem = ${class.getName()}Impl()
    #if($ctx.persistence)
initObject(tempElem)
    #end
return tempElem
}
#end

override fun create(metaClassName : String) : ${ctx.kevoreeContainer}? {
when(metaClassName){
#foreach( $class in $classes )
    ${helper.fqn($ctx,$ctx.getBasePackageForUtilitiesGeneration())}.util.Constants.${helper.fqn($ctx,$class).replace(".","_")} -> { return create${class.getName()}() }
    ${helper.fqn($ctx,$ctx.getBasePackageForUtilitiesGeneration())}.util.Constants.CN_$class.getName() -> { return create${class.getName()}() }

#end            else -> {return null;}
}
}

#if($ctx.persistence)

    override var datastore: org.kevoree.modeling.api.persistence.DataStore? = org.kevoree.modeling.api.persistence.MemoryDataStore()

    override var compare: org.kevoree.modeling.api.compare.ModelCompare = ${helper.fqn($ctx,$ctx.getBasePackageForUtilitiesGeneration())}.compare.DefaultModelCompare()

    protected fun initObject(elem : org.kevoree.modeling.api.persistence.KMFContainerProxy){
        elem.originFactory = this
        monitor(elem)
        #if($ctx.timeAware)
        (elem as org.kevoree.modeling.api.time.TimeAwareKMFContainer).isResolved = true
        (elem as org.kevoree.modeling.api.time.TimeAwareKMFContainer).now = relativeTime
        (elem as org.kevoree.modeling.api.time.TimeAwareKMFContainer).meta = org.kevoree.modeling.api.time.blob.EntityMeta()
        (elem as org.kevoree.modeling.api.time.TimeAwareKMFContainer).meta!!.metatype = elem.metaClassName()
        #end
    }

#end

#if($ctx.timeAware)
override var relativeTime: org.kevoree.modeling.api.time.TimePoint = org.kevoree.modeling.api.time.TimePoint.create("0:0");
override var queryMap: MutableMap<String, org.kevoree.modeling.api.time.TimePoint> = java.util.HashMap<String, org.kevoree.modeling.api.time.TimePoint>()
override var timeCache: java.util.HashMap<String, org.kevoree.modeling.api.time.blob.TimeMeta> = java.util.HashMap<String, org.kevoree.modeling.api.time.blob.TimeMeta>()
override var entitiesCache: org.kevoree.modeling.api.time.blob.EntitiesMeta? = null
override var sharedCache : org.kevoree.modeling.api.time.blob.SharedCache<${formatedFactoryName}> = org.kevoree.modeling.api.time.blob.SharedCache<${formatedFactoryName}>()

override fun time(tp: org.kevoree.modeling.api.time.TimePoint): org.kevoree.modeling.api.time.TimeView<${formatedFactoryName}> {
    val resolved : org.kevoree.modeling.api.time.TimeView<${formatedFactoryName}>? = sharedCache.get(tp);
    if(resolved != null){
        return resolved;
    } else {
        val newFactory = Default${formatedFactoryName}()
        newFactory.sharedCache = sharedCache
        newFactory.datastore = this.datastore;
        newFactory.relativeTime = tp;
        sharedCache.add(tp,newFactory)
        return newFactory;
    }
}

#end

#if(!$ctx.persistence)
    override fun select(query: String): List<org.kevoree.modeling.api.KMFContainer> {
        //TODO
        return java.util.ArrayList<org.kevoree.modeling.api.KMFContainer>();
    }
    override fun root(elem : org.kevoree.modeling.api.KMFContainer){
    (elem as ${ctx.getKevoreeContainerImplFQN()}).is_root = true
    (elem as ${ctx.getKevoreeContainerImplFQN()}).path_cache = "/"
    }
    #else
    override fun root(elem : org.kevoree.modeling.api.KMFContainer){
    if(elem !is org.kevoree.modeling.api.persistence.KMFContainerProxy || (elem as org.kevoree.modeling.api.persistence.KMFContainerProxy).originFactory != this){
        throw Exception("KMFObject created in another factory of TimeView cannot be set as root of this TimeView")
    }
    (elem as ${ctx.getKevoreeContainerImplFQN()}).is_root = true
    (elem as ${ctx.getKevoreeContainerImplFQN()}).path_cache = "/"
    modified_elements.put("/", elem)
    }
    #end



    override fun createJSONSerializer(): org.kevoree.modeling.api.json.JSONModelSerializer {
    return ${helper.fqn($ctx,$ctx.getBasePackageForUtilitiesGeneration())}.serializer.JSONModelSerializer()
    }
    override fun createJSONLoader(): org.kevoree.modeling.api.json.JSONModelLoader {
    return ${helper.fqn($ctx,$ctx.getBasePackageForUtilitiesGeneration())}.loader.JSONModelLoader()
    }
    override fun createXMISerializer(): org.kevoree.modeling.api.xmi.XMIModelSerializer {
    return ${helper.fqn($ctx,$ctx.getBasePackageForUtilitiesGeneration())}.serializer.XMIModelSerializer()
    }
    override fun createXMILoader(): org.kevoree.modeling.api.xmi.XMIModelLoader {
    return ${helper.fqn($ctx,$ctx.getBasePackageForUtilitiesGeneration())}.loader.XMIModelLoader()
    }
    override fun createModelCompare(): org.kevoree.modeling.api.compare.ModelCompare {
    return ${helper.fqn($ctx,$ctx.getBasePackageForUtilitiesGeneration())}.compare.DefaultModelCompare()
    }

    override fun createModelCloner() : org.kevoree.modeling.api.ModelCloner {
    return ${helper.fqn($ctx,$ctx.getBasePackageForUtilitiesGeneration())}.cloner.DefaultModelCloner()
    }



    }