#* @vtlvariable name="packageName" type="java.lang.String" *#
#* @vtlvariable name="formatedFactoryName" type="java.lang.String" *#
#* @vtlvariable name="classes" type="java.util.List<org.eclipse.emf.ecore.EClassifier>" *#
#* @vtlvariable name="ctx" type="org.kevoree.modeling.kotlin.generator.GenerationContext" *#
#* @vtlvariable name="helper" type="org.kevoree.modeling.kotlin.generator.ProcessorHelperClass" *#

package ${packageName};

trait ${formatedFactoryName} : ${helper.fqn($ctx,$ctx.getBasePackageForUtilitiesGeneration())}.factory.KMFFactory {

    fun getVersion() : String

#foreach( $class in $classes )
    fun create${class.getName()}() : ${class.getName()}
#end


}