#* @vtlvariable name="classname" type="java.lang.String" *#
#* @vtlvariable name="refname" type="java.lang.String" *#
#* @vtlvariable name="typeadd" type="java.lang.String" *#

void ${classname}::remove${refname}(${typeadd} *ptr)
{
    ${typeadd} *container = (${typeadd}*)ptr;
    if(container->internalGetKey().empty())
    {
        LOGGER_WRITE(Logger::WARNING,"The ${typeadd} cannot be removed in ${classname} because the key is not defined");
    }
    else
    {
        ${refname}.erase( ${refname}.find(container->internalGetKey()));
        ${isContainment}
        container->setEContainer(NULL,NULL,"");
    }
}

