#* @vtlvariable name="ctx" type="org.kevoree.modeling.kotlin.generator.GenerationContext" *#
#* @vtlvariable name="FQNHelper" type="org.kevoree.modeling.kotlin.generator.ProcessorHelper" *#
#* @vtlvariable name="names" type="java.util.HashMap<java.lang.String,java.lang.String>" *#
package ${FQNHelper.fqn($ctx, ${ctx.getBasePackageForUtilitiesGeneration()})}.util;
object Constants {

    public val UNKNOWN_MUTATION_TYPE_EXCEPTION : String = "Unknown mutation type: "
    public val READ_ONLY_EXCEPTION : String = "This model is ReadOnly. Elements are not modifiable."
    public val LIST_PARAMETER_OF_SET_IS_NULL_EXCEPTION : String = "The list in parameter of the setter cannot be null. Use removeAll to empty a collection."
    public val ELEMENT_HAS_NO_KEY_IN_COLLECTION : String = "Cannot set the collection, because at least one element of it has no key!"
    public val EMPTY_KEY : String = "Key empty : please set the attribute key before adding the object."

    public val KMFQL_CONTAINED : String = "contained"

    public val STRING_DEFAULTVAL : String = ""
    public val INT_DEFAULTVAL : Int = 0
    public val BOOLEAN_DEFAULTVAL : Boolean = false
    public val CHAR_DEFAULTVAL : Char = 'a'
    public val SHORT_DEFAULTVAL : Short = 0
    public val LONG_DEFAULTVAL : Long = 0
    public val DOUBLE_DEFAULTVAL : Double = 0.0
    public val FLOAT_DEFAULTVAL : Float = 0.0
    public val BYTE_DEFAULTVAL : Byte = 0

#foreach($key in $names.keySet())
    public val $key.replace(".","_") : String = "$names.get($key)"
#end

}

