#* @vtlvariable name="ctx" type="org.kevoree.modeling.kotlin.generator.GenerationContext" *#
#* @vtlvariable name="FQNHelper" type="org.kevoree.modeling.kotlin.generator.ProcessorHelper" *#
package ${FQNHelper.fqn($ctx, ${ctx.getBasePackageForUtilitiesGeneration()})}.util;

public abstract class ElementAttributeType {

public static final int ATTRIBUTE = 0;
public static final int REFERENCE = 1;
public static final int CONTAINMENT = 2;

}