[ { traceType: 0,
    src: '',
    refname: 'generated_KMF_ID',
    content: '0.168778813909739261382348563259' },
  { traceType: 1,
    src: '',
    refname: 'nodes',
    previouspath: 'nodes[server-node]',
    typename: 'org.kevoree.ContainerNode' },
  { traceType: 0,
    src: 'nodes[server-node]',
    refname: 'name',
    content: 'server-node' },
  { traceType: 0,
    src: 'nodes[server-node]',
    refname: 'started',
    content: 'true' },
  { traceType: 1,
    src: '',
    refname: 'typeDefinitions',
    previouspath: 'typeDefinitions[JavascriptNode]',
    typename: 'org.kevoree.NodeType' },
  { traceType: 0,
    src: 'typeDefinitions[JavascriptNode]',
    refname: 'name',
    content: 'JavascriptNode' },
  { traceType: 1,
    src: 'typeDefinitions[JavascriptNode]',
    refname: 'dictionaryType',
    previouspath: 'typeDefinitions[JavascriptNode]/dictionaryType[0.82409289479255681381486669472]',
    typename: 'org.kevoree.DictionaryType' },
  { traceType: 0,
    src: 'typeDefinitions[JavascriptNode]/dictionaryType[0.82409289479255681381486669472]',
    refname: 'generated_KMF_ID',
    content: '0.82409289479255681381486669472' },
  { traceType: 1,
    src: '',
    refname: 'typeDefinitions',
    previouspath: 'typeDefinitions[WebSocketGroup]',
    typename: 'org.kevoree.GroupType' },
  { traceType: 0,
    src: 'typeDefinitions[WebSocketGroup]',
    refname: 'name',
    content: 'WebSocketGroup' },
  { traceType: 1,
    src: 'typeDefinitions[WebSocketGroup]',
    refname: 'dictionaryType',
    previouspath: 'typeDefinitions[WebSocketGroup]/dictionaryType[0.96359646809287371382348564611]',
    typename: 'org.kevoree.DictionaryType' },
  { traceType: 0,
    src: 'typeDefinitions[WebSocketGroup]/dictionaryType[0.96359646809287371382348564611]',
    refname: 'generated_KMF_ID',
    content: '0.96359646809287371382348564611' },
  { traceType: 1,
    src: 'typeDefinitions[WebSocketGroup]/dictionaryType[0.96359646809287371382348564611]',
    refname: 'attributes',
    previouspath: 'typeDefinitions[WebSocketGroup]/dictionaryType[0.96359646809287371382348564611]/attributes[port]',
    typename: 'org.kevoree.DictionaryAttribute' },
  { traceType: 0,
    src: 'typeDefinitions[WebSocketGroup]/dictionaryType[0.96359646809287371382348564611]/attributes[port]',
    refname: 'fragmentDependant',
    content: 'true' },
  { traceType: 0,
    src: 'typeDefinitions[WebSocketGroup]/dictionaryType[0.96359646809287371382348564611]/attributes[port]',
    refname: 'optional',
    content: 'true' },
  { traceType: 0,
    src: 'typeDefinitions[WebSocketGroup]/dictionaryType[0.96359646809287371382348564611]/attributes[port]',
    refname: 'name',
    content: 'port' },
  { traceType: 1,
    src: '',
    refname: 'libraries',
    previouspath: 'libraries[Javascript]',
    typename: 'org.kevoree.TypeLibrary' },
  { traceType: 0,
    src: 'libraries[Javascript]',
    refname: 'name',
    content: 'Javascript' },
  { traceType: 1,
    src: '',
    refname: 'deployUnits',
    previouspath: 'deployUnits[0.65145139629021291381486669449]',
    typename: 'org.kevoree.DeployUnit' },
  { traceType: 0,
    src: 'deployUnits[0.65145139629021291381486669449]',
    refname: 'unitName',
    content: 'kevoree-node-javascript' },
  { traceType: 0,
    src: 'deployUnits[0.65145139629021291381486669449]',
    refname: 'generated_KMF_ID',
    content: '0.65145139629021291381486669449' },
  { traceType: 0,
    src: 'deployUnits[0.65145139629021291381486669449]',
    refname: 'type',
    content: 'npm' },
  { traceType: 0,
    src: 'deployUnits[0.65145139629021291381486669449]',
    refname: 'version',
    content: '0.0.1' },
  { traceType: 1,
    src: '',
    refname: 'deployUnits',
    previouspath: 'deployUnits[0.291144580114632841382348564529]',
    typename: 'org.kevoree.DeployUnit' },
  { traceType: 0,
    src: 'deployUnits[0.291144580114632841382348564529]',
    refname: 'unitName',
    content: 'kevoree-group-websocket' },
  { traceType: 0,
    src: 'deployUnits[0.291144580114632841382348564529]',
    refname: 'generated_KMF_ID',
    content: '0.291144580114632841382348564529' },
  { traceType: 0,
    src: 'deployUnits[0.291144580114632841382348564529]',
    refname: 'type',
    content: 'npm' },
  { traceType: 0,
    src: 'deployUnits[0.291144580114632841382348564529]',
    refname: 'version',
    content: '0.0.2' },
  { traceType: 1,
    src: '',
    refname: 'groups',
    previouspath: 'groups[sync]',
    typename: 'org.kevoree.Group' },
  { traceType: 0,
    src: 'groups[sync]',
    refname: 'name',
    content: 'sync' },
  { traceType: 0,
    src: 'groups[sync]',
    refname: 'started',
    content: 'true' },
  { traceType: 1,
    src: 'groups[sync]',
    refname: 'dictionary',
    previouspath: 'groups[sync]/dictionary[0.36832033912651241382433380035]',
    typename: 'org.kevoree.Dictionary' },
  { traceType: 0,
    src: 'groups[sync]/dictionary[0.36832033912651241382433380035]',
    refname: 'generated_KMF_ID',
    content: '0.36832033912651241382433380035' },
  { traceType: 1,
    src: 'groups[sync]/dictionary[0.36832033912651241382433380035]',
    refname: 'values',
    previouspath: 'groups[sync]/dictionary[0.36832033912651241382433380035]/values[0.80631424742750821382433380035]',
    typename: 'org.kevoree.DictionaryValue' },
  { traceType: 0,
    src: 'groups[sync]/dictionary[0.36832033912651241382433380035]/values[0.80631424742750821382433380035]',
    refname: 'generated_KMF_ID',
    content: '0.80631424742750821382433380035' },
  { traceType: 0,
    src: 'groups[sync]/dictionary[0.36832033912651241382433380035]/values[0.80631424742750821382433380035]',
    refname: 'value',
    content: '8000' },
  { traceType: 1,
    src: 'nodes[server-node]',
    refname: 'typeDefinition',
    previouspath: 'typeDefinitions[JavascriptNode]' },
  { traceType: 1,
    src: 'typeDefinitions[JavascriptNode]',
    refname: 'deployUnits',
    previouspath: 'deployUnits[0.65145139629021291381486669449]' },
  { traceType: 1,
    src: 'typeDefinitions[WebSocketGroup]',
    refname: 'deployUnits',
    previouspath: 'deployUnits[0.291144580114632841382348564529]' },
  { traceType: 1,
    src: 'libraries[Javascript]',
    refname: 'subTypes',
    previouspath: 'typeDefinitions[JavascriptNode]' },
  { traceType: 1,
    src: 'libraries[Javascript]',
    refname: 'subTypes',
    previouspath: 'typeDefinitions[WebSocketGroup]' },
  { traceType: 1,
    src: 'deployUnits[0.65145139629021291381486669449]',
    refname: 'targetNodeType',
    previouspath: 'typeDefinitions[JavascriptNode]' },
  { traceType: 1,
    src: 'deployUnits[0.291144580114632841382348564529]',
    refname: 'targetNodeType',
    previouspath: 'typeDefinitions[JavascriptNode]' },
  { traceType: 1,
    src: 'groups[sync]',
    refname: 'typeDefinition',
    previouspath: 'typeDefinitions[WebSocketGroup]' },
  { traceType: 1,
    src: 'groups[sync]',
    refname: 'subNodes',
    previouspath: 'nodes[server-node]' },
  { traceType: 1,
    src: 'groups[sync]/dictionary[0.36832033912651241382433380035]/values[0.80631424742750821382433380035]',
    refname: 'attribute',
    previouspath: 'typeDefinitions[WebSocketGroup]/dictionaryType[0.96359646809287371382348564611]/attributes[port]' },
  { traceType: 1,
    src: 'groups[sync]/dictionary[0.36832033912651241382433380035]/values[0.80631424742750821382433380035]',
    refname: 'targetNode',
    previouspath: 'nodes[server-node]' } ]
