package java.io

public class ByteArrayOutputStream : OutputStream {

fun flush(){}

fun close(){}

public fun toString() : String {
return result
}
var result : String = ""


}

public trait OutputStream {

}
